#!/usr/bin/env python
import os
import sys
import json

from SCons.Tool import Tool
from SCons.Variables import Variables

from methods import print_error


# Builds res://native into my_native.so / .dll / .framework, in the same
# structure as the official godot-cpp-template SConstruct, extended with
# two things this scaffold needs: linking the prebuilt SDK static
# library, and a build_number suffix so every build produces a new file
# name, see native_builder.gd for why.



libname = "MyNativeLib"
configpath = "./godot_native_sdk.json"


# Load SDK config file
if not os.path.isfile(configpath):
    print_error("SDK configuration not found: {}".format(configpath))
    sys.exit(1)

with open(configpath, "r") as f:
    sdk_config = json.load(f)

sdk_root = os.path.normpath(sdk_config["root"])

#
# Build Arguments
#

#
# TODO: USE Scons Variables instead of this:
#customs = ["custom_overrides.py"]
#customs = [os.path.abspath(path) for path in customs]
#opts = Variables(customs, ARGUMENTS)
#opts.Update(localEnv)
#Help(opts.GenerateHelpText(localEnv))
#
# (SEE BELOW FOR AT THE ENV CONFIGURATION, USE THIS THERE !!)
#


target = ARGUMENTS.get("target", "template_debug")
platform = ARGUMENTS.get("platform", "")
if not platform:
    print_error("MISSING ARGUMENTS. 'platform' was not specified.")
    sys.exit(1)


#
# Platform configuration
#

platform_config = sdk_config.get("platforms", {}).get(platform, {}).get(target)
if platform_config is None:
    print_error("No SDK configuration for platform '{}' and target '{}'.".format(platform, target))
    print_error("Available platforms:")

    for name in sdk_config.get("platforms", {}):
        print_error("  {}".format(name))

    sys.exit(1)

#
# Build env
#
#

env = Environment(tools=["default"], PLATFORM="")

env["platform"] = platform
env["arch"] = platform_config["arch"]
env["target"] = target

for key, value in platform_config.get("options", {}).items():
    env[key] = value

customs = [os.path.abspath("custom_overrides.py")]
env = SConscript(os.path.join(sdk_root, "godot-cpp", "SConscript"), exports={"env": env, "customs": customs})

for key, expected in platform_config.get("options", {}).items():
    if env.get(key) != expected:
        print_error("'{}' is {} here but the SDK was built with {}".format(key, env.get(key), expected))
        sys.exit(1)


#
# Add Include files
#

env.Append(CPPPATH=[
		"{}/{}".format(sdk_root, sdk_config["include"]),
		"{}/godot-cpp/include".format(sdk_root),    # godot-cpp headers. TODO: dont hardcode them (maybe include in the json config file as well ?)
		"{}/godot-cpp/gen/include".format(sdk_root)
    ]
)

#
# Link SDK libraries
#
lib_dir = os.path.join(sdk_root, platform_config["library_dir"])
for name in platform_config["libraries"]:
    env.Append(LIBS=[env.File(os.path.join(lib_dir, name))])
env.Append(CPPPATH=["{}/godot-cpp/gdextension".format(sdk_root)])

# TODO: Does Scons add the prefixes and suffixes or find the libraries just from a the parent dir ????
#sdk_library_dir = "{}/{}".format(sdk_root, platform_config["library_dir"])
#env.Append(LIBPATH=[sdk_library_dir])
#env.Append(LIBS=[sdk_config["library_name"]])

#
# Build 
#

env.Append(CPPPATH=["./"])
sources = Glob("*.cpp")

suffix = ".{}.{}.{}".format(platform, target, platform_config["arch"])
lib_filename = "{}{}{}{}".format(env.subst("$SHLIBPREFIX"), libname, suffix, env.subst("$SHLIBSUFFIX"))

library = env.SharedLibrary(
    "../bin/{}".format(lib_filename), #-----> TODO: Instead build in a temp ("/out") folder and install it afterwards if build succeeds
    source=sources,
)

############################################ TODO: ALSO Install the example.gdextension.template with the correct path to the final lib file (not the static, the shared shared lib
#                                                  that we are just building here !)

#

############################################



Default(library)
